* {
    box-sizing: border-box;
    margin: 0;
    padding: 5;
  }

body {
    font: 45px "Arial", Futura, sans-serif;
    background-color: rgb(17, 17, 17);
    text-align: center;

    background-position-y: 150px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
}


.btn {
    display: inline-block;
    border: none;
    background: #333;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  

.App {
    color: white;
    text-align: center;
}

.container {
    margin-top: -0%;
    width:100%;
    box-sizing: border-box;
    position: absolute;
   
}
.usernameAndPic {
  
}

.location {
  margin-left:65%;
  padding:20px;
  margin-top:-5%;
}

.no-user {
  padding:1.875rem;
  text-align: center;
	
}

.code-info {
  margin-right: 60%;
  margin-top: -19%;

}

.bio {
  margin-top: 4%;
}

u1{direction: ltr}

li{list-style: none;margin-right:1rem;padding:30px;}
a{color:skyblue;font-size: 50px;}

img{ 
  width:6.25rem;
  height:6.25rem;
  border-radius:50%;
  display: block;
  box-shadow:0 0 .0625rem rgba(0,0,0,.5);
  margin-top: 0.5%;
  margin-left: 47%;
}
