body {
    font: 45px "Century Gothic", Futura, sans-serif;
   
    background-color: grey;
    text-align: center;
    
}

.App {
    color: white;
    text-align: center;
}
    

.Title {
    font-size: 65px;
    color: white;
    text-align: center;
}

.Tab {
    margin-top: 20%;
    font-size: 45px;
    color: white;
    text-align: center;
}
